<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
      <%- include('./partials/head'); -%>
      <link rel="stylesheet" href="../../css/chat.css">
    </head>

    <body>
      <div class="loader">
        <div class="page-loader"></div>
      </div>

      <div id="navbars">
        <%- include('./partials/navbar'); -%>
      </div>

      <div id="typography" class="container mb-5">
        <div class="section-title col-lg-8 col-md-10 ml-auto mr-auto">
          <!-- Modals -->
          <div id="modals" class="container">
            <div class="mb-5">
              <!-- Trigger -->
              <button type="button" class="btn btn-primary btn-pill btn-lg d-table ml-auto mr-auto" data-toggle="modal" data-target="#exampleModal">
                ✋ Commands !
              </button>

              <!-- Modal Body -->
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Usefull commands 🤔</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <table class="table table-striped table-responsive-md">
                        <thead>
                          <tr>
                            <th>Command</th>
                            <th>Description</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Ping</td>
                            <td>
                              Check if host is up
                            </td>
                          </tr>
                          <tr>
                            <td>Ifconfig</td>
                            <td>
                              Where are us ?
                            </td>
                          </tr>
                          <!--
                          <tr>
                            <td>Netstat</td>
                            <td>
                              Allows you to output network statistics
                            </td>
                          </tr>
                        -->
                        </tbody>
                      </table>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="terminalBox">
          <div class="terminalTab">
            <span class="terminalName">~root@<%- sess.username -%></span>
          </div>
          <ul id="messages" class="ul_terminal">

          </ul>

          <form action="" class="form_terminal">
            ><input id="m" type="text" autocomplete="off" autofocus/>
            <input type="submit" style="display:none;">
          </form>

        </div>

      </div>

    </body>
</html>

<script>

  var socket = io.connect('http://192.168.43.91:5250');
  var sess = <%- JSON.stringify(session) %>;

  function logout(){
  	document.location.href = "../../logout";
  }

  $(document).ready(function () {
    $('form').submit(function(){
      socket.emit('req_chat_message', $('#m').val(), sess.username);
      $('#m').val('');
      return false;
    });

    socket.emit('req_chat_welcome', sess.username);

    socket.on('res_chat_welcome', function(username){
      $('#messages').append($('<li class="li_terminal">').text("> " + username + ' is connected !'));
    });

    socket.on('res_chat_message', function(msg, username){
      if (msg == "clear") $('.li_terminal').remove();
      else $('#messages').append($('<li class="li_terminal">').text(username + "> " + msg));
    });

    socket.on('res_chat_ping', function(msg_1){
      $('#messages').append($('<li class="li_terminal server">').text(msg_1.name + "> " + msg_1.state));
    });

    socket.on('res_chat_ifconfig', function(msg_){
      $('#messages').append($('<li class="li_terminal server">').text(msg_.name + "> " + msg_.address));
    });

    socket.on('res_chat_netstat', function(msg_){
      $('#messages').append($('<li class="li_terminal server">').text(msg_.name + "> " + msg_));
    });

  });

</script>

<%- include('./partials/footer'); -%>
